*{
    font-family:"Asap",sans-serif;
    position:relative;
    padding-top: 10px;

}

header{
    background-color: blanchedalmond;
    color:black;
    text-align: center;
    padding: 20px 0;
    position:relative;
    top: 40px;
    }

header img{
    height: 200px;

}

.navbar{
    background-color: #eff0d5;
    list-style-type: none;
    position: fixed;
    text-align:center;
    width: 100%;
    height: 60px;
    align-content: center;
    float: none;
    z-index: 1;


}

.navbar li{
    display: inline-block; 
    padding:10px ;
    

}

.navbar li:hover{
    color: #eff0d5;
    background-color: #59594e;
}
